<!DOCTYPE html>
<html lang="en" ng-app="myApp" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ben Zug</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="app/assets/app.css">
	  <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
  </head>
  <body  ng-controller="indexController">
    <div ui-view></div>

  <div clas="col-md-12">
    <div class="jumbotron">
      <div class="header-content">
        <div class="header-content-inner">
        </div>
      </div>
    </div>
  </div>

    <section class="background-1 mar-top--30">
      <div class="container">
        <div class="col-md-12 mar-top-20 mar-bot-50">
          <div class="bioheader mar-top-10">BIO</div>
          <div class="biotext mar-bot-10">{{bio}}</div>
        </div>
      </div>
    </section>
    <section class="background-2 mar-top-50 mar-bot-50">
      <div class="container">
        <div class="col-lg-4" ng-click="isClickedPenna = !isClickedPenna">
          <center><img class="logo" src="{{experience[0].image}}"/></center>
        </div>
        <div class="col-lg-4" ng-click="isClickedBNY = !isClickedBNY">
          <center><img class="logo" src="{{experience[1].image}}"/></center>
        </div>
        <div class="col-lg-4" ng-click="isClickedPSU = !isClickedPSU">
          <center><img class="logo" src="{{experience[2].image}}"/></center>
        </div>
      </div>
    </section>
    <section class="background-2 mar-top-50 mar-bot-50">
      <div class="container" ng-show="isClickedPenna">
        0Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nunc felis, aliquam et posuere quis, ullamcorper ac metus.
      </div>
      <div class="container" ng-show="isClickedBNY">
        1Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nunc felis, aliquam et posuere quis, ullamcorper ac metus.
      </div>
      <div class="container" ng-show="isClickedPSU">
        2Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nunc felis, aliquam et posuere quis, ullamcorper ac metus.
      </div>
    </section>

    <footer class="background-3">
      <div class="container">
        <div class="col-md-12 mar-top-30">
          <center><img class="profilepic" src="app/assets/img/BenZug.png"/></center>
        </div>
        <div class="col-md-12 bioheader mar-top-20">
          Ben Zug
        </div>
        <div class="col-md-12 mar-top-10 emailtext">
          zugben@gmail.com
        </div>
      <div>
      <div class="container">
        <div class="col-md-5"></div>
        <div class="col-md-1 mar-top-10 mar-bot-10">
          <a target="_blank" href="https://github.com/ZenBug13"><img class="gitlogo" src="app/assets/img/GitHub-Mark-Light.png"/></a>
        </div>
        <div class="col-md-1 mar-top-10 mar-bot-10">
          <a target="_blank" href="https://www.linkedin.com/in/benjamin-zug-a29500126"><img class="gitlogo" src="app/assets/img/in-White.png"/></a>
        </div>
        <div class="col-md-5"></div>
      </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/X.Y.Z/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="app/assets/app.js"></script>
    <script src="app/components/home/home.html"></script>
    <script src="app/components/home/home.js"></script>
    <script src="app/components/home/home.controller.js"></script>
  </body>
</html>
